%h2 Job List
%table.table
  %thead
    %tr
      %th Job ID
      %th Title/Role
      %th Company
      %th Job Description
      %th Website
      %th Actions
  %tbody
    %tr
      - @jobs.each_with_index do |job,i|
        <tr#{'class="alt"' if i%10==0}>
        %td
          %a{:href => "/show/#{job.id}"}= job.id
        %td
          %a{:href => "/show/#{job.id}"}= job.title
        %td= job.company
        %td= job.description
        %td
          %a{:href => "http://#{job.website}"}= job.website
        %td
          %a{:href => "/"}
            Apply
            %i.icon-envelope