<h2>Job List</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Title/Role</th>
          <th>Company</th>
          <th>Job Description</th>
          <th>Website</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @jobs.each_with_index do |job,i| %>
            <tr<%= 'class="alt"' if i%10==0 %>>
            <td><a href="/show/<%= job.id %>"><%= job.id %></a></td>
            <td><a href="/show/<%= job.id %>"><%= job.title %></a></td>
            <td><%= job.company %></td>
            <td><%= job.description %></td>
            <td><a href="http://<%= job.website %>"><%= job.website %></a></td>
            <td>
              <a href="/">Apply <i class="icon-envelope"></i></a>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
