<div class="page-header">
  <h1><%= @job.title %> :  <small><%= @job.company %></small></h1>
</div>
    <img src="http://placehold.it/180x90&text=company+logo">

<div id="job details" style="margin-top:20px;">
    <p>
    <b>ID</b>
    <%= @job.id %>
    </p>
    <p>
    <b>Title/Role</b>
    <%= @job.title %>
    </p>
    <p>
    <b>Company Name</b>
    <%= @job.company %>
    </p>
    <p>
    <b>Website</b>
    <%= @job.website %>
    </p>
    <p>
    <b>Created Date</b>
    <%= @job.created_at %>
    </p>
    <p>
    <b>Job Description</b>
    <%= @job.description %>
    </p>
    <p>Tags: 
        <a href="#"><span class="label label-info">Business Analyst</span></a> 
        <a href="#"><span class="label label-info">Marketing</span></a> 
        <a href="#"><span class="label label-info">A/B Testing</span></a>
        | Posted By: <i class="icon-user"></i> <a href="#">Enoch Root</a> 
        | <i class="icon-calendar"></i> <%= @job.created_at %>
    </p>
</div>