<div class="row-fluid">
    <h1>Job Detail</h1>
 
        
    
    <img src="http://placehold.it/180x90&text=company+logo">

    <p>
    <b>ID</b>
    <%= @job.id %>
    </p>
    <p>
    <b>Title/Role</b>
    <%= @job.title %>
    </p>
    <p>
    <b>Company Name</b>
    <%= @job.company %>
    </p>
    <p>
    <b>Website</b>
    <%= @job.website %>
    </p>
    <p>
    <b>Created Date</b>
    <%= @job.created_at %>
    </p>
    <p>
    <b>Job Description</b>
    <%= @job.description %>
    </p>

</div>